*~
*.d
*.a
*.diff
*.orig
*.rej
*.dll*
*.exe
*.def
*.lib
.libs
*.pdb
*.mo
*.o
*.patch
*.pc
*.pot
*.so*
*.dylib
.*.swp
.depend
.deps
.DS_Store
config.h
config.mak
config.log
x264_config.h
x264
checkasm
autom4te.cache
.dirstamp
*.la

*.264
*.h264
*.2pass
*.ffindex
*.avs
*.mkv
*.flv
*.mp4
*.y4m
*.yuv
*.log
*.mbtree
*.temp
*.pyc
*.pgd
*.pgc

.digress_x264
dataDec.txt
log.dec
common/oclobj.h
x264_lookahead.clbin
libtool
config.status
Makefile

